body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: rgba(248, 255, 105, 0.473); 
}
.content{
    display: flex;
}
.box{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    font-size: 32px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
h1{
    font-size: 48px;
}
.box1:hover{
    transform: rotateX(360deg);
}
.box2:hover{
    transform: rotateY(360deg);
}
.box3:hover{
    transform: rotateZ(360deg);
}